<footer id="footer-tag">
	<div class="footer-wrapper">
		<div class="columns-wrap">
			<div class="column-sec">
				<div class="logo-wrap">
					<img src="./assets/images/logo-white.png" alt="white logo">
					<div class="logo-text">STAY UNCLE</div>
				</div>
				<div class="para-content">
					StayUncle hotels for couples with local ID allowed. Secure and safe, no questions asked.
				</div>
				<ul class="office-details">
					<li class="office">
						<span>Office</span>
						<p>56B, 2nd Floor, DDA Flats, Shahpur Jat, Delhi - 110049</p>
					</li>
					<li>
						<span>Email</span>
						<p>
							<a href="mailto:info@stayuncle.com">info@stayuncle.com</a>
						</p>
					</li>
					<li>
						<span>Phone</span>
						<p><a href="tel:011-39586731">011-39586731</a></p>
					</li>
				</ul>

				<ul class="social-icons clearfix">
					<li>
						<a href="https://www.facebook.com/StayUncle/" target="_blank">
							<i class="icon-facebook-icon"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/StayUncle" target="_blank">
							<i class="icon-twitter-icon"></i>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/3758498" target="_blank">
							<i class="icon-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="https://soundcloud.com/user-948374084" target="_blank">
							<i class="icon-soundcloud"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="column-sec">
				<ul class="links">
					<li>
						<a href="http://blog.stayuncle.com/" target="_blank">BLOG</a>
					</li>
					<li>
						<a href="https://stayuncle.com/team">TEAM</a>
					</li>
					<li>
						<a href="https://docs.google.com/forms/d/e/1FAIpQLScpvAfyTnMnQJy8xhqBOH1FOUdzJPdQ2yFzarYEMrmjlkkcPQ/viewform">Join Us</a>
					</li>
					<li class="hide-for-small-only">
						<a href="http://forum.stayuncle.com">LOVE FORUM</a>
					</li>
					<li>
						<a href="javascript:void(0)">MY BOOKINGS</a>
					</li>
				</ul>
			</div>
			<div class="column-sec">
				<ul class="links">
					<li>
						<a href="https://stayuncle.com/refer-and-earn">Refer & Earn</a>
					</li>
					<li>
						<a href="https://stayuncle.com/partner-with-us">Get your Hotel listed</a>
					</li>
					<li>
						<a href="https://stayuncle.com/terms-conditions">Terms & Conditions</a>
					</li>
					<li>
						<a href="https://stayuncle.com/privacy-policy">Privacy Policy</a>
					</li>
					<li>
						<a href="https://stayuncle.com/cancellations-refunds">Refunds/Cancellations</a>
					</li>
				</ul>
			</div>
			<div class="column-sec hide-for-small-only" >
				<ul class="links">
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Delhi</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Mumbai</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Bangalore</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Hyderabad</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Kolkata</a>
					</li>
				</ul>
			</div>
			<div class="column-sec hide-for-small-only">
				<ul class="links">
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Chennai</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Pune</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Jaipur</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Ahmedabad</a>
					</li>
					<li>
						<a href="https://stayuncle.com/search-results']">Couple Hotels in Bhubaneshwar</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="hr-line"></div>
		<div class="copyright-text">
			&copy; 2017, STAYUNCLE. All right reserved
		</div>
	</div>
</footer>