@import './../../../assets/styles/_variables.scss';

footer {
	background: url('./../../../assets/images/footer-bg.png') no-repeat;
	background-size: cover !important;

	.footer-wrapper {
		padding: 70px;
		background: rgba(0, 0, 0, 0.8);

		.columns-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include small {
				flex-direction: column;
				text-align: center;
			}
		}

		.column-sec {
			.logo-wrap {
				img {
					float: left;
				}

				.logo-text {
					display: inline-block;
					margin-left: 10px;
					font-family: karla-bold;
					color: #fff;
					font-size: 18px;
					margin-top: 15px;
					line-height: 18px;
				}
			}

			.para-content {
				font-size: 14px;
				font-family: $font-regular;
				padding: 10px 0px 0 0;
				color: #fff;
				max-width: 300px;
				margin-bottom: 16px;
			}

			.office-details {
				@include small{
					display: none;
				}
				li {
					font-size: 14px;
					color: #fff;
					width: 100%;
					margin-bottom: 5px;

					&.office {
						display: flex;
					}

					span {
						font-family: $font-bold;
						color: #fff;
					}

					p {
						padding: 0;
						margin: 0;
						font-family: $font-regular;
						display: inline-block;
						margin-left: 13px;
						max-width: 230px;

						a {
							color: #fff;
						}
					}
				}
			}

			.social-icons {
				margin-top: 15px;

				li {
					&+li {
						margin-left: 26px;
					}

					a {
						font-size: 20px;
						color: #fff;
					}
				}
			}

			ul.links {
				margin-top: 40px;

				li {
					display: block;
					margin-bottom: 15px;

					a {
						font-size: 12px;
						font-family: $font-bold;
						color: #fff;
						text-transform: uppercase;
					}
				}
			}
		}

		.hr-line {
			height: 1px;
			background: #383838;
			margin-top: 20px;
		}

		.copyright-text {
			color: #fff;
			font-size: 14px;
			text-align: center;
			margin-top: 10px;
			font-family: $font-bold;
		}
	}
}

@include small() {
	footer {
		.footer-wrapper {
			padding: 40px 20px;

			.column-sec {
				.logo-wrap {
					text-align: center;

					img {
						float: none;
					}

					.logo-text {
						display: block;
						margin-left: 0px;
						font-size: 15px;
						margin-top: 5px;
						line-height: 18px;
					}
				}

				p {
					padding: 0;
					text-align: justify;
					margin-top: 5px;
				}

				.social-icons {
					text-align: center;
				}

				&:first-child {
					width: 100%;
				}

				width:100%;
				display:block;
				float:none;

				ul.links {
					margin-top: 7px;
					text-align: center;

					li {
						display: inline-block;
						margin-bottom: 5px;

						&+li {
							margin-left: 20px;
						}

						a {
							font-size: 12px;
							font-family: $font-regular;
							color: #fff;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}
