<header>
		<div class="header-wrapper">
		<div class="header-row">
			<div class="logo-wrap clearfix">
				<a [routerLink]="['/']">
					<img src="./assets/images/logo.png" alt="Logo">
					<div class="logo-text">STAY UNCLE</div>
				</a>
				<div class="hotel-for-couples hide-for-small-only">
					Hotels for Couples
				</div>
			</div>
			<div class="left-wrap">
				<ul class="clearfix">
					<li class="download-app hide-for-small-only">
						<a href="javascript:void(0)">
							<img src="./assets/images/android-app-icon.png" alt="">
							<span>Download App</span>
						</a>
					</li>
					<li class="phone-no links">
						<a href="tel:011-39586731">
							<img src="./assets/images/phone-icon.png" alt="">
							<span class="hide-for-small-only">011-39586731</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>