@import './../../../assets/styles/_variables.scss';
$header-height: 65px;

header {
  height: $header-height;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
  padding: 0 50px;
  position: relative;

  .header-wrapper {
    height: $header-height;

    .header-row {
      .logo-wrap {
        display: inline-block;

        a {
          text-align: center;
          float: left;

          img {
            width: 33px;
            margin-top: 10px;
          }

          .logo-text {
            font-family: $font-bold;
            font-size: 10px;
            color: #a9277a;
            letter-spacing: 2px;
            margin-top: 2px;
          }
        }

        .hotel-for-couples {
          color: #444;
          display: inline-block;
          font-family: $font-regular;
          float: left;
          line-height: 65px;
          margin-left: 15px;
          font-size: 20px;

          @include small {
            display: none;
          }
        }
      }

      .left-wrap {
        display: inline-block;
        position: absolute;
        right: 50px;

        ul {
          padding-top: 13px;

          @include small {
            padding-top: 12px;
          }

          li {
            float: left;
            position: relative;

            &+li {
              margin-left: 10px;
            }

            &.download-app {
              a {
                border: 2px solid #999;
                border-radius: 10px;
                padding: 5px 15px;
                color: #666;
                font-size: 14px;

                span {
                  @include small {
                    display: none;
                  }
                }

                img {
                  height: 28px;
                  margin-right: 5px;

                  @include small {
                    height: 32px;
                  }
                }
              }
            }

            &.links {
              a {
                padding: 5px 15px;
                color: #666;
                font-size: 16px;
                font-family: $font-bold;
                display: flex;
                align-items: center;

                span {
                  @include small {
                    display: none;
                  }
                }

                img {
                  height: 28px;
                  margin-right: 7px;

                  @include small {
                    height: 26px;
                    margin-top: -2px;
                  }

                  &.user-icon {
                    filter: grayscale(100%) opacity(0.7);

                    &.active {
                      filter: grayscale(0%) opacity(1);
                    }
                  }
                }
              }
            }

            &:hover {
              ol.sub-links {
                visibility: visible;
                opacity: 1;
                top: 45px;
              }
            }

            ol.sub-links {
              display: block;
              position: absolute;
              background: #fff;
              box-shadow: 0 0 4px #ddd;
              top: 55px;
              border-radius: 6px;
              left: -10px;
              visibility: hidden;
              opacity: 0;
              z-index: 105;
              transition: 0.4s all;

              &:after {
                position: absolute;
                content: '';
                height: 17px;
                width: 17px;
                background: #fff;
                top: -9px;
                transform: rotate(45deg);
                border: 1px solid transparent;
                border-top-color: #f2f2f2;
                border-left-color: #f2f2f2;
                left: 80px;
              }

              li {
                display: block;
                float: none;
                width: 170px;
                margin: 0;

                &+li {
                  border-top: 1px solid #ddd;
                }

                a {
                  display: block;
                  padding: 10px 12px;

                  i {
                    position: absolute;
                    top: 0;
                    line-height: 44px;
                    font-size: 15px;
                    color: $pink-color;
                    left: 12px;
                  }

                  span {
                    font-size: 14px;
                    font-family: karla-regular;
                    font-size: 14px;
                    margin-left: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include small() {
  header {
    height: 55;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
    padding: 0 10px;

    .header-wrapper {
      height: 55px;

      .header-row {
        .logo-wrap {
          display: inline-block;

          a {
            text-align: center;

            img {
              width: 30px;
              margin-top: 14px;
            }

            .logo-text {
              font-size: 10px;
              font-family: $font-bold;
              color: #a9277a;
            }
          }

          .hotel-for-couples {
            line-height: 55px;
            margin-left: 5px;
            font-size: 13px;
          }
        }

        .left-wrap {
          right: 10px;

          ul {
            padding-top: 17px;

            li {
              float: left;

              &+li {
                margin-left: 10px;
              }

              &.download-app {
                a {
                  border: 0;
                  padding: 3px 5px;

                  img {
                    height: 25px;
                    margin-right: 5px;
                  }
                }
              }

              &.links {
                a {
                  padding: 5px;
                }
              }

              ol.sub-links {
                top: 55px;
                left: -57px;

                &:after {
                  top: -9px;
                  left: 65px;
                }

                li {
                  width: 140px;
                }
              }
            }
          }
        }
      }
    }
  }
}
