@font-face {
  font-family: 'uncle';
  src:  url('fonts/uncle.eot');
  src:  url('fonts/uncle.eot') format('embedded-opentype'),
    url('fonts/uncle.ttf') format('truetype'),
    url('fonts/uncle.woff') format('woff'),
    url('fonts/uncle.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'uncle' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soundcloud:before {
  content: "\e907";
}
.icon-google-plus:before {
  content: "\e904";
}
.icon-google-plus-logo:before {
  content: "\e905";
}
.icon-whatsapp-logo:before {
  content: "\e906";
}
.icon-up-arrow:before {
  content: "\e902";
}
.icon-down-arrow:before {
  content: "\e903";
}
.icon-testimonial-quotes:before {
  content: "\ea6b";
}
.icon-info-icon:before {
  content: "\ea2a";
}
.icon-tick-icon:before {
  content: "\ea4a";
}
.icon-report-plus-icon2:before {
  content: "\e901";
}
.icon-report-plus-icon:before {
  content: "\ea4b";
}
.icon-cross:before {
  content: "\ea48";
}
.icon-search:before {
  content: "\ea4c";
}
.icon-gallery:before {
  content: "\e9b5";
}
.icon-facebook-share:before {
  content: "\e99e";
}
.icon-twitter-share:before {
  content: "\e99d";
}
.icon-google-share:before {
  content: "\e99f";
}
.icon-linkedin-icon:before {
  content: "\e97b";
}
.icon-twitter-icon:before {
  content: "\e97c";
}
.icon-facebook-icon:before {
  content: "\e980";
}
.icon-product-rupee:before {
  content: "\e985";
}
.icon-quotesymbol:before {
  content: "\ea51";
}
.icon-rupee-bold-icon:before {
  content: "\e977";
}
.icon-email-1:before {
  content: "\e8e9";
}
.icon-email:before {
  content: "\e8ea";
}
.icon-email-3:before {
  content: "\e8eb";
}
.icon-nav-bar:before {
  content: "\e900";
}
.icon-favorite-heart-button:before {
  content: "\eaeb";
}
.icon-favorite-heart-outline-button:before {
  content: "\eaec";
}
.icon-filled-circle:before {
  content: "\eaed";
}
.icon-filter-results-button:before {
  content: "\eaf1";
}
.icon-mark-as-favorite-star:before {
  content: "\eb45";
}
.icon-refresh-button:before {
  content: "\eb84";
}
.icon-star-o:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e9c6";
}
.icon-pencil2:before {
  content: "\e935";
}
.icon-linkedin:before {
  content: "\e948";
}
.icon-heart3:before {
  content: "\e94a";
}
.icon-heart-o:before {
  content: "\e94b";
}
.icon-calendar:before {
  content: "\e963";
}
.icon-angle-up:before {
  content: "\e96f";
}
.icon-angle-right:before {
  content: "\e970";
}
.icon-angle-left:before {
  content: "\e971";
}
.icon-android-close:before {
  content: "\e8aa";
}
.icon-android-add:before {
  content: "\e8c0";
}
.icon-android-checkbox-blank:before {
  content: "\e8af";
}
.icon-android-checkmark-circle:before {
  content: "\e8ab";
}
.icon-android-done:before {
  content: "\e8a5";
}
.icon-android-done-all:before {
  content: "\e8a6";
}
.icon-checkmark-circled:before {
  content: "\e87b";
}
.icon-chevron-left:before {
  content: "\e877";
}
.icon-chevron-right:before {
  content: "\e876";
}
.icon-close-round:before {
  content: "\e874";
}
.icon-ios-arrow-left:before {
  content: "\e867";
}
.icon-ios-arrow-right:before {
  content: "\e866";
}
.icon-minus3:before {
  content: "\e9e6";
}
.icon-plus:before {
  content: "\e815";
}
