/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}

.ng-hide-add-active,
.ng-hide-remove {
    display: block !important;
}

html,
body {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
    background: #fff;
    font-family:$font-regular;
    // &::-webkit-scrollbar {
    //     width: 6px;
    // }
    // &::-webkit-scrollbar-track {
    //     -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    //     border-radius: 10px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     border-radius: 10px;
    //     -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
    // }
}



/* Links
 */


/**
   * Remove the gray background color from active links in IE 10.
   */

a {
    background-color: transparent;
}

a,
a:focus a:hover,
a:active,
a:visited,
a:link {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: inline-block;
}

input,
textarea,
button,
select,
label,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



/* Forms
     ========================================================================== */


/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */


/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    outline: none;
    /* 3 */
}



/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

iframe {
    display: none;
}

.text-center {
    text-align: center;
}

.test {
    border: 1px solid red;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.hidden-overflow-y {
    overflow-y: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

.cursor-pointer {
    cursor: pointer;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.body-overflow-hidden {
    overflow: hidden !important;
    position: fixed !important;
    height: 100vh;
    width: 100vw;
}

.clearfix {
    &:after,
    &:before {
        content: "";
        display: block;
        clear: both;
    }
}

.viewport-wrapper {
    width: 1180px;
    margin: 0 auto;
}

.break-part-section {
    display: inline-block;
    float: left;
    position: relative;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .hide-for-small-only {
        display: none !important;
    }
}

@media screen and (max-width: 0em),
screen and (min-width: 40em) {
    .show-for-small-only {
        display: none !important;
    }
}
