@import './../../../assets/styles/_variables.scss';

section#home-page {
	overflow-x: hidden !important;
	width: 100vw;

	article.top-banner {
		background: url("./../../../assets/images/bg.jpg");
		background-size: cover !important;
		height: 490px;
		display: flex;
		justify-content: center;
		align-items: center;

		@include small {
			background: url("./../../../assets/images/banner-mobile.png");
			height: 380px;
		}

		.content-wrap {
			@include small {
				padding: 0 20px;
			}

			h1 {
				font-family: $font-noto-bold;
				font-size: 50px;
				color: #fff;
				text-align: center;
				margin-bottom: 20px;
				font-style: italic;
				min-height: 60px;

				@include small {
					font-size: 32px;
					margin-bottom: 15px;
					min-height: 38px;
				}
			}

			h2 {
				font-family: $font-bold;
				font-size: 20px;
				color: #fff;
				text-align: center;
				line-height: 30px;

				@include small {
					font-size: 15px;
					line-height: 22px;
				}
			}

			.input-wrapper {
				position: relative;
				width: 600px;
				margin: 0 auto;
				margin-top: 45px;

				@include small {
					width: 100%;
				}

				input {
					height: 50px;
					border-radius: 30px;
					border: 0;
					box-shadow: 0 0 4px #252525;
					width: 100%;
					padding: 0 30px;
					font-family: $font-regular;

					@include small {
						padding: 0 15px;
						font-size: 14px;
					}
				}

				button {
					font-family: $font-bold;
					position: absolute;
					width: 200px;
					border: 0;
					border-radius: 0px 30px 30px 0;
					height: 50px;
					right: 0;
					font-size: 18px;
					background: #ff5777;
					color: #fff;
					padding: 0;

					@include small {
						font-size: 14px;
						width: 140px;
					}
				}
			}
		}
	}

	article.usp-points {
		padding: 45px 50px;
		.owl-carousel {
			display: none;
		}

		@include small {
			padding: 45px 20px;

			.owl-carousel.owl-loaded {
				margin: 0;
			}

			.owl-carousel {
				display:block;
				.owl-stage {
					.owl-item .item {
						display: flex;
						align-items: center;

						.image-wrap {
							width: 100px;
							text-align: center;
							float: left;
							display: inline-block;

							img {
								// height: 75px;
								margin-top: 5px;
							}
						}

						.content-wrap {
							width: calc(100% - 100px);
							float: left;
							display: inline-block;
							padding: 0px 20px 0 20px;

							h3 {
								color: #444444;
								font-family: $font-bold;
								font-size: 18px;
								margin-bottom: 4px;
							}

							p {
								color: #999;
								font-family: $font-regular;
								font-size: 14px;
								line-height: 18px;
							}
						}
					}
				}
			}
		}

		ul {
			li {
				width: calc(100%/3);
				float: left;

				&:first-child {
					.image-wrap {
						img {
							height: 67px;
						}
					}
				}

				.image-wrap {
					width: 100px;
					text-align: center;
					float: left;
					display: inline-block;

					img {
						height: 75px;
						margin-top: 5px;
					}
				}

				.content-wrap {
					width: calc(100% - 100px);
					float: left;
					display: inline-block;
					padding: 0px 20px 0 20px;

					h3 {
						color: #444444;
						font-family: $font-bold;
						font-size: 18px;
						margin-bottom: 4px;
					}

					p {
						color: #999;
						font-family: $font-regular;
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
		}
	}

	article.experience-love {
		background: #f6f6f6;
		padding: 40px 0;


		.heading {
			h3 {
				text-align: center;
				color: #444;
				font-family: $font-bold;
				font-size: 32px;
				margin-bottom: 50px;

				@include small {
					font-size: 24px;
					padding: 0 20px;
					margin-bottom: 40px;
				}
			}
		}

		.experience-item-wrap {
			display: none;

			@include small {
				display: block;
				padding: 0 15px;
				text-align: center;

				.item {
					margin-bottom: 35px;

					.image-wrap {
						margin-bottom: 10px;

						img {
							width: 180px;
						}
					}

					.text-wrap {
						color: #444;
						font-size: 16px;
						font-family: $font-noto-regular;
						font-style: italic;
					}
				}
			}
		}

		.road-path {
			width: 60%;
			margin: 0 auto;
			position: relative;

			.road-map-image {
				background: url("./../../../assets/images/experience.png");
				height: 750px;
				background-repeat: no-repeat;
				width: 465px;
				margin: 0 auto;
			}

			.first-statement,
			.second-statement,
			.third-statement {
				color: #444;
				font-size: 22px;
				font-family: $font-noto-regular;
				font-style: italic;
				position: absolute;
			}

			.first-statement {
				left: 450px;
				top: 60px;
			}

			.second-statement {
				left: 100px;
				top: 330px;
				text-align: right;
			}

			.third-statement {
				left: 450px;
				bottom: 60px;
			}
		}
	}

	article.love-kit {
		background: url("./../../../assets/images/kit-bg.png") #c8a72f;
		background-size: cover !important;
		height: 570px;

		@include small {
			background: url("./../../../assets/images/stayuncle-kit.png") #c8a72f;
			background-position-y: 40px !important;
		}

		.content-wrap {
			padding-left: 54%;
			width: 90%;
			margin: 0 auto;

			@include small {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}

			h2 {
				font-size: 34px;
				font-family: $font-noto-bold;
				color: #fff;
				padding-top: 160px;

				@include small {
					font-size: 24px;
					padding-top: 30px;
					line-height: 30px;
					text-align: center;
				}
			}

			h3 {
				font-size: 26px;
				font-family: $font-noto-regular;
				color: #fff;
				margin-top: 25px;

				@include small {
					font-size: 19px;
					padding-top: 330px;
					text-align: center;
				}
			}

			p {
				font-family: $font-regular;
				font-size: 18px;
				color: #fff;
				margin-top: 25px;

				@include small {
					font-size: 15px;
					margin-top: 10px;
					text-align: center;
				}
			}
		}
	}

	article.faq-wrapper {
		background: #fff;
		padding: 50px 0;
		width: 65%;
		margin: 0 auto;

		@include small {
			padding: 50px 15px;
			width: 100%;
		}

		h2 {
			font-size: 28px;
			font-family: $font-bold;
			color: #444;

			@include small {
				font-size: 24px;
			}
		}

		.faq-accordian-wrap {
			margin: 40px auto 0;

			@include small {
				margin: 30px auto 0;
			}

			.panel-group {
				.panel {
					border: 0;
					background: transparent;
					box-shadow: 0 0 0 #000;

					&+.panel {
						margin-top: 12px;
					}

					.panel-heading {
						background: #999999;
						color: #fff;
						font-family: $font-bold;
						padding: 8px 15px;
						border-radius: 5px;

						.panel-title {
							font-size: 18px;
							position: relative;

							button {
								color: #fff;
								padding: 0;
								text-decoration: none;
							}

							&:before {
								font-family: 'uncle' !important;
								content: "\e901";
								position: absolute;
								right: 0;
								font-size: 26px;
								top: -5px
							}
						}
					}

					.panel-body {
						color: #666666;
						font-size: 15px;
						font-family: $font-regular;
					}

					&.panel-open {
						.panel-heading {
							background: $pink-color;

							.panel-title {
								&:before {
									content: "\ea4b";
								}
							}
						}
					}
				}
			}
		}
	}

	article.still-waiting {
		background: #eee;
		padding: 20px 50px;
		display: flex;
		align-items: center;

		@include small {
			flex-direction: column;
			padding: 20px 15px 50px;

		}

		.image-wrap {
			width: auto;
			margin: 0;

			img {
				width: initial;
			}

			@include small {
				width: 90%;
				margin: 0 auto;

				img {
					width: 100%;
				}

			}
		}

		.content-wrap {
			margin-left: 40px;

			@include small {
				margin-left: 0;
				width: 100%;
			}

			h3 {
				font-size: 30px;
				font-family: $font-bold;
				color: #444;
				margin-bottom: 30px;

				@include small {
					font-size: 22px;
					margin-top: 10px;

					span {
						font-size: 18px;
					}
				}
			}

			.input-wrapper {
				position: relative;

				input {
					height: 50px;
					border-radius: 30px;
					border: 0;
					box-shadow: 0 0 4px #bdbdbd;
					width: 100%;
					padding: 0 30px;
					font-family: $font-regular;

					@include small {
						height: 42px;
						padding: 0 15px;
						font-size: 14px;
					}
				}

				button {
					font-family: $font-bold;
					position: absolute;
					width: 200px;
					border: 0;
					border-radius: 0px 30px 30px 0;
					height: 50px;
					right: 0;
					font-size: 18px;
					background: #ff5777;
					color: #fff;
					padding: 0;

					@include small {
						width: 140px;
						height: 42px;
						font-size: 14px;
					}
				}
			}
		}
	}
}
