<section id="home-page">
	<article class="top-banner">
		<div class="content-wrap">
			<div id="container">
				<h1 id="text"></h1>
			</div>
			<h2> Coz "Doinking and Driving" is more dangerous <br class="show-for-small-only"> than <br class="hide-for-small-only">"Drinking and Driving"</h2>
			<div class="input-wrapper">
				<input type="text" placeholder="Enter your email address">
				<button>GET THE INVITE</button>
			</div>
		</div>
	</article> <!-- usp points -->
	<article class="usp-points">
		<owl-carousel [options]="{items: 1, dots: false, navigation: false, loop:true, autoplay: true, autoplayTimeout : 5000, autoplaySpeed: 1000}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
			<div class="item">
				<div class="image-wrap"> <img src="./assets/images/ride.png" alt=""></div>
				<div class="content-wrap"> <h3>Quickie Ride on your doorstep</h3>
					<p>Quickie can be booked to pick both the partners from different pickup points. Once booked, the Quickie arrives under 15 minutes.</p>
				</div>
			</div>
			<div class="item">
				<div class="image-wrap"> <img src="./assets/images/privacy.png" alt=""> </div>
				<div class="content-wrap"> <h3>Your privacy- Our utmost Concern</h3>
					<p> Quickies are run by chivalrous drivers. Partitioned spaces and curtains on the windows guarantee you the privacy you need.</p>
				</div>
			</div>
			<div class="item">
				<div class="image-wrap"> <img src="./assets/images/wallet.png" alt=""> </div>
				<div class="content-wrap"> <h3>Starting from ₹500/2hrs</h3>
					<p>Quickies are handpicked premium cars that give you the space you need without digging a hole in your pockets.</p>
				</div>
			</div>
		</owl-carousel>
		<!-- <carousel class="show-for-small-only">
			<slide>
				<div class="image-wrap"> <img src="./assets/images/ride.png" alt=""></div>
				<div class="content-wrap"> 
					<h3>Quickie Ride on your doorstep</h3>
					<p>Quickie can be booked to pick both the partners from different pickup points. Once booked, the Quickie arrives under 15 minutes.</p>
				</div>
			</slide>
			<slide>
				<div class="image-wrap"> <img src="./assets/images/privacy.png" alt=""> </div>
				<div class="content-wrap"> 
					<h3>Your privacy- Our utmost Concern</h3>
					<p> Quickies are run by chivalrous drivers. Partitioned spaces and curtains on the windows guarantee you the privacy you need.</p>
				</div>
			</slide>
			<slide>
				<div class="image-wrap"> <img src="./assets/images/wallet.png" alt=""> </div>
				<div class="content-wrap"> 
					<h3>Starting from ₹500/2hrs</h3>
					<p>Quickies are handpicked premium cars that give you the space you need without digging a hole in your pockets.</p>
				</div>
			</slide>
		</carousel> -->
		<ul class="clearfix hide-for-small-only">
			<li>
				<div class="clearfix">
					<div class="image-wrap"> <img src="./assets/images/ride.png" alt=""></div>
						<div class="content-wrap"> <h3>Quickie Ride on your doorstep</h3>
							<p class="hide-for-small-only">Quickie can be booked to pick both the partners from different pickup points. Once booked, the Quickie arrives under 15 minutes.</p>
						</div>
					</div>
			</li>
			<li>
				<div class="clearfix">
					<div class="image-wrap"> <img src="./assets/images/privacy.png" alt=""> </div>
						<div class="content-wrap"> <h3>Your privacy- Our utmost Concern</h3>
							<p class="hide-for-small-only"> Quickies are run by chivalrous drivers. Partitioned spaces and curtains on the windows guarantee you the privacy you need.</p>
						</div>
					</div>
			</li>
			<li>
				<div class="clearfix">
					<div class="image-wrap"> <img src="./assets/images/wallet.png" alt=""> </div>
						<div class="content-wrap"> <h3>Starting from ₹500/2hrs</h3>
							<p class="hide-for-small-only">Quickies are handpicked premium cars that give you the space you need without digging a hole in your pockets.</p>
						</div>
					</div>
			</li>
		</ul>
	</article> <!-- usp points -->
	<article class="experience-love">
		<div class="heading">
			<h3>Experience Love like <br class="show-for-small-only"> never before</h3>
		</div>
		<div class="experience-item-wrap">
			<div class="item">
				<div class="image-wrap">
					<img src="./assets/images/exprience-driver.png" alt="exprience-driver">
				</div>
					<div class="text-wrap">Experienced drivers to make you <br> two fool around smoothly.</div>
				</div>
				<div class="item">
					<div class="image-wrap">
						<img src="./assets/images/premium-car.png" alt="premium-car">
				</div>
						<div class="text-wrap">Premium cars to give you <br> the space you need</div>
					</div>
					<div class="item">
						<div class="image-wrap">
							<img src="./assets/images/cabin.png" alt="soundproof cabin">
				</div>
							<div class="text-wrap">Well partitioned and soundproof cabin <br> with curtains on the windows</div>
						</div>
					</div>
					<div class="road-path hide-for-small-only">
						<div class="first-statement"> Experienced drivers to make you <br> two fool around smoothly. </div>
						<div class="second-statement"> Premium cars to give you <br> the space you need </div>
						<div class="third-statement"> Well partitioned and soundproof cabin <br> with curtains on the windows </div>
						<div class="road-map-image"></div>
					</div>
	</article>
	<article class="love-kit">
		<div class="content-wrap">
			<h2>Free StayUncle Love Kit <br class="show-for-small-only"> now <br class="hide-for-small-only"> with Quickie as well</h2>
			<h3>Told you, We have got you covered!</h3>
			<p>
				A pack of condoms, lubricant, Peesafe Natural vaginal <br class="hide-for-small-only">
				cleanser and chocolate to make your quickie Safe and <br class="hide-for-small-only">
				exciting!
			</p>
		</div>
	</article>
	<article class="faq-wrapper"> <h2>Frequently Asked Questions</h2>
		<div class="faq-accordian-wrap">
			<accordion>
				<accordion-group heading="How to book a StayUncle Quickie?" [isOpen]="true"> As part of the initial rollout, we will be giving access to “Quickie” only in Delhi NCR and Mumbai and on an invite basis. Just fill in your email ID and get an invite. Quickie will be available to book from 20th Jan 2019 onwards. </accordion-group>
				<accordion-group heading="Is it Legal?"> Before StayUncle started people thought unmarried couples booking a hotel room was also illegal. But we changed the realm for all. This time we do it again! But (cough) you still need to be 18+</accordion-group>
				<accordion-group heading="What about my privacy?">Quickies’ are designed for you to make love. They are driven by qualified discreet and trained drivers. Additionally Quickie cars are chosen for their space factor and have well partitioned and soundproof cabins with curtains on the windows.</accordion-group>
			</accordion>
		</div>
	</article>
	<article class="still-waiting">
		<div class="image-wrap">
			<img src="./assets/images/car.png" alt="car">
		</div>
			<div class="content-wrap">
				<h3>What are you still waiting for? <br><span>Register and get a Quickie On The Go!</span></h3>
				<div class="input-wrapper">
					<input type="text" placeholder="Enter your email address">
					<button>GET THE INVITE</button>
				</div>
			</div>
	</article>
</section>
