// Sass Media Query Mixins!
//
//  Table of Contents :
//
// 	1: x-desktop
// 	2: desktop
// 	3: tablet-landscape
// 	4: tablet
// 	5: mobile



// xxLarge screens
@mixin xxlarge {
    /* min-width 1921px, xxlarge screens */
    @media only screen and (min-width: 120.063em) {
        @content;
    }
}

// xLarge screens
@mixin xlarge {
    /* min-width 1441px, xlarge screens */
    @media only screen and (min-width: 90.063em) {
        @content;
    }
    /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
    @media only screen and (min-width: 90.063em) and (max-width: 120em) {
        @content;
    }
}

// Large screens
@mixin large {
    /* min-width 1025px, large screens */
    @media only screen and (min-width: 64.063em) {
        @content;
    }
    /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
    @media only screen and (min-width: 64.063em) and (max-width: 90em) {
        @content;
    }
}

// Medium screens
@mixin medium {
    /* min-width 641px, medium screens */
    @media only screen and (min-width: 40.063em) {
        @content;
    }
    /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        @content;
    }
}

// Small screens
@mixin small {

    /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    @media only screen and (max-width: 40em) {
        @content;
    }
}


@mixin nexus5 {
	@media only screen and (max-width: 600px) {
			@content;
	}
}
