@import './mixin/all';

$font-regular :karla-regular;
$font-bold : karla-bold;

$font-noto-regular : noto-regular;
$font-noto-bold : noto-bold;

$font-neris-light : neris-light;
$font-neris-semibold : neris-semibold;

$font-color : #333;
// $primary : #EA1F50;
$pink-color : #ff5777;